body {
    margin: 40px;
    font-family: "Avenir", serif;
    font-size: 12pt;
    max-width: 800px;
}

header {
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
}

header h1 {
    font-size: 20pt;
    letter-spacing: 2pt;
}

header span {
    font-size: 10pt;
    float: right;
}

section h2 {
    font-family: "Futura", serif;
    font-size: 14pt;
    font-weight: normal;
}

section ul {
    list-style-type: circle;
}

#name {
    font-variant: small-caps;
    font-weight: lighter;
    margin-bottom: -.4em;
    text-align:center;
}

#info {
    font-family: "Avenir", sans-serif;
    font-weight: 200;
    font-size:.75em;
    /*font-variant: small-caps;*/
    text-align: center;
}

.jobtable {
    display: table;
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

.edtable {
    display: table;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
}

.skillstable {
    display: table;
    width: 100%;
}

.table {
    display: table;
    margin-left: 20px;
}

.tablerow {
    display: table-row;
}

.jobtitle .degreetitle{
    display: table-cell;
    font-style: italic;
}

.right {
    display: table-cell;
    text-align: right;
}

.cell {
    display: table-cell;
}

.onlinecell {
    font-style: italic;
    padding-right: 10px;
}

.urlcell {
    display: table-cell;
    letter-spacing: 1px;
}

.pagebreak {
    page-break-before: always;
}

/*Each item (education, employment, skills, etc)
has 3 stylings

1. itemheader (e.g. education)
2. itemname (e.g. UNI)
3. iteminfo

*/

.itemheader {
    font-weight: bolder;
    font-variant: small-caps;
    font-size: .9em;
}

.itemname{
    /*TODO: get item name (uni, job title) flush with sectionheader*/
    margin-top: -.5em;
}

.iteminfo{
    font-size: .9em;
    font-weight: lighter;
    font-style: normal;
    font-variant: normal;
    line-height: 90%;
    max-width: 90%;
}

.left {
    text-align: left;
}

.right {
    float: right;
}


/*.jobtitle {
    
}
*/
