body {
    margin: 40px;
    font-family: "Avenir", serif;
    font-size: 12pt;
    max-width: 800px;
    line-height: .9;
}

header {
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    margin-top: -2em;
    padding: 0em;
}

header h1 {
    font-size: 20pt;
    letter-spacing: 2pt;
}

header span {
    font-size: 10pt;
    float: right;
}

section h2 {
    font-family: "Futura", serif;
    font-size: 14pt;
    font-weight: normal;
}

section ul {
    margin-top: -.5em;
    margin-left: -1.5em;
    /*line-height: .5;*/
}

section li {
    margin-top: -.5em;
}

ul li {
    font-size:.6em;
}

ul li span {
    font-size: 1.5em;
    line-height: 1.5em;
}

#name {
    font-variant: small-caps;
    font-weight: lighter;
    margin-bottom: -.4em;
    text-align:center;
}

#info {
    font-family: "Avenir", sans-serif;
    font-weight: 200;
    font-size:.75em;
    /*font-variant: small-caps;*/
    text-align: center;
    line-height: 1;
}

.jobtitle{
    font-style: italic;
    margin-top: -.5em;
}

.right {
    float: right;
}


/*Each item (education, employment, skills, etc)
has 3 stylings

1. itemheader (e.g. education)
2. itemname (e.g. UNI)
3. iteminfo

*/

.itemheader {
    font-weight: bolder;
    font-variant: small-caps;
    font-size: .9em;
    margin-top: -.25em;
}

.itemname{
    margin-top: -.25em;
    font-family: "Baskerville", serif;
    font-size: 1.5em;
}

.iteminfo{
    font-size: .9em;
    font-weight: lighter;
    font-style: normal;
    font-variant: normal;
    max-width: 90%;
}

.left {
    text-align: left;
}

.jobtitle {
    font-style: italic;
}
